body {
    max-width: 760px;
    margin: 0 auto;
}
img {
    width: 150px;
    border-radius: 3px;  
  }
header {
    font-size: 18px;
    text-align: center;
    line-height: .5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
    color: ghostwhite;
    padding: .5rem;
}
section {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
}

footer {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
    color: ghostwhite;
    padding: .5rem;
    text-align: center;
    
}