img {
    width: 100px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px grey;
    justify-content: right;
    float: right;
    margin-right: 450px;
    margin-top: -50px;
  }
header {
    font-size: 18px;
    text-align: center;
    line-height: .5;
    max-width: 760px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
    color: ghostwhite;
    padding: .5rem;
    margin-right: -100px;
    margin-left: 200px;
}

section {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 200px;
}
h1 {
justify-content: left;
}
footer {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
    color: ghostwhite;
    max-width: 760px;
    padding: .5rem;
    text-align: center;
    margin-right: -100px;
    margin-left: 200px;
}