@media only screen and (min-width: 32.5em) {
   .img {
       float: right;
   }
   header {
    font-size: 20px;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    line-height: .5;
    font-family: 'Source Code Pro', sans-serif;
    background-color: darkolivegreen;
    color: ghostwhite;
    padding: .5rem;
}
h2 {
    font-family: 'Rajdhani', sans-serif;
}
section {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    padding: 20px;
}
}