body {
    margin: 0 auto;
    background-color: lightskyblue;
    text-align: center;
    align-items: center;
    justify-content: center;
}
main {
    display: block;
}
h1 {
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
    color: #721121;
    padding: 5px;
    margin: 0 auto;
}
img {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 300px;
    padding: 5px;
    margin: 0 auto;
}
picture img[data-src] {
    filter: blur(0.2em);
    transition: filter 0.5s;
  }
