@media only screen and (min-width: 37.5em) {
	main, footer{
        max-width: 760px;
        
    }
    
    #linknav {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin: 0;
       
        justify-content: space-around;
        align-items: center;
        display: flex;
        font-size: 15px;
        margin: 0 auto;
	    max-width: 100%;
    }
    .navigation {
        display: flex;
        
    }
    .navigation li :first-child {
        display: none;
        white-space: nowrap;
    }
    .navigation li {
        display: block;
        padding: 15PX;
        
    }
    #menu {
        display: none;
    } 
    .navigation ul li a:hover {
        background-color: #e59500;
    }
}