@media only screen and (min-width: 37.5em) {
	main, footer{
        /*max-width: 760px;*/
        max-width: 100%;
        margin: auto;
    }
    /*.hideonsmall5day, .hideonsmallmap {
        display: unset;
    }*/
    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 17px;
    }
    .navigation li:first-child {
        display: none;
        white-space: nowrap;
    }
    .navigation li {
        display: block;
    }
    #menu {
        display: none;
    } 
    /*.navigation ul li a:hover {
        background-color: #e59500;
    }*/
    /*.contactdiv {
        float: right;
    }
    /*.contactdivfish {
        float: right;
        margin-right: 0;
        width: 50%;
    }*/
    .heroimg {
        margin-top: 30px;
        float: left;
        padding: 5px;
        width: 400px;
        height: 267px;
    }

    .form {
        float: right;
    }
    .map {
        max-width: 50%;
    }
}