main {
    display: block;
}
body {
    margin: 0 auto;
    background-color: #fafaff;  
}
/*Header*/
header {
    text-align: center;
    background-color: #fafaff;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo {
    width: 125px;
    height: auto;
    display: flex;
    float: left;
    padding: 0 0 0 0;
}
h1, .headings {
    font-size: 30px;
    font-family: 'Fondamento', cursive;
    color: #1c3144;
    padding: 5px;
    margin-left: 0;
    position: relative;
    float: left;
    overflow: auto;
}
.tagline {
    color:#002642;
    font-size: 20px;
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: bold;
    padding: 0 0 10px 0;
}
/*End of Header*/

/*Navigation Menu*/
nav {
    margin: 0 auto;
    background-color: #fafaff;
}
nav ul {
    padding: 0;
}
nav ul li a:hover {
    background-color: #c3d898;
    color: #1c3144;
    text-decoration: none;
}
nav ul li.active a {
    background-color: #596f62;
    color: #c3d898;
}
nav li a {
    display: block;
}
nav button {
    border: none;
    font-size: 1.6rem;
    background-color: transparent;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border-left: 1px;
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
    
}
.navigation a {
    display: block;
    color: #c3d898;
    padding: .25rem;
    text-align: center;
    text-decoration: none;
}
/*.navigation a:hover {
    color: #1c3144;  
}*/
.current {
    background-color: #596f62;
    color: #c3d898;
}
nav ul{
    background-color: #1c3144;
    display: block;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 20px;
    list-style: none;
    padding: 10px;
    line-height: 30px;
    border:1px solid transparent;
    overflow: hidden;
}
.responsive li {
    display: block;
}
/*End of Navigation*/
 /*Headings*/
 .headings {
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    line-height: 5px;
    color:#721121;
    text-align: center;
}
h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;    
    color:#721121;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
}
h4, h5, .mapcontact {
    font-size: 20px;
    font-family: 'Cinzel Decorative', sans-serif;  
    font-weight: bold;  
    color:#1c3144;
    padding: 10px;
    margin-top: 60px;
}
/*End of Headings*/
/*Paragraph Text*/
p {
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 17px;
    color: #1c3144;
    font-weight: bold;
    /*padding-top: 20px;*/
    /*padding: 10px;
    line-height: 30px;*/
}
/*End of paragraph text*/

/*Links*/
.link {
    text-decoration: none;
    list-style: none;
    color: #ada9a1;
}
.link1 {
    text-decoration: none;
    list-style: none;
    color: #002642;
}
/*End of Links*/

/*Map and Contact Us*/
.contactdiv, .contactdivfish {
    text-align: center;
}
.hideonsmall5day, .hideonsmallmap {
    display: none;
}
.hideonsmallmap {
    max-width: 90%;
    padding: 10px;
}
/*End of map and contact section*/

 /*Footer*/
 footer, .sec3 {
    background-color: #1c3144;
    color: #c3d898;
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    clear: both;
    padding: 10px;
    line-height: 25px;
}
 /*End of Footer*/