@media only screen and (min-width: 60em) {
      
    #weatherphoto {
        width: 760px;
        
    }
/*Gallery css*/
.gallery {
    grid-template-columns: 1fr 1fr 1fr;
}
figure:hover{
    box-shadow: 0 5px 8px 0;
}
form label.sbs {
    padding: .4rem 0;
}
/*Home page*/
.towncards {
    display: flex;
    flex-direction: row;
}
.towncards section {
    flex-direction: column;
    justify-content: center;
}
.towncards section img {
    align-items: center;
    width: 100%;
}
}