header, body, h1, footer {
    background-color: rgb(112, 146, 52);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    align-content: center;
}
section {
    border: black solid 1px;
    width: 100%;
    height: auto;
    background-color: darkolivegreen;
}
p {
    font-size: 15px;
}
img {
    width: 150px;
    height: auto;
    box-shadow: black 0 0 10px;
}
@media only screen and (min-width: 37.5em){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media only screen and (min-width: 60em){
    .cards{
        grid-template-columns: repeat(4, 1fr);
    } 
}