/*
Use the thead, tbody, and tfoot tags in your table structure.

► The font-family is Ubuntu, sans-serif.

► The color scheme includes #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 along with standard white and black.

► Use a maximum of one class or id selector.

► Use one instance of the first-child or nth:child() pseudo classes.

:not(:last-child)
*/

table {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    width: 300px;
    box-shadow: 10px 10px 10px #628ca6;
    margin-bottom: 100px;
    margin-top: 25px;
}
tbody {
    border: 20px grey;
}
table th {
    background-color: #628ca6;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
table caption {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: #7fb9c2;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    box-shadow: 10px 10px 10px #628ca6;
}
table tr {
    background-color: #e7ffed;
}
table tr:nth-child(odd) {
    background-color: #e7f0ed;
}

.sale {
    background-color: #628ca6;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #628ca6;
    color: black;
    margin: 0 auto;
}
table tfoot td {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
    background-color: #7fb9c2;
}
table tr td {
    padding: 10px;
    border: 10px grey;
}
