/*
Use the thead, tbody, and tfoot tags in your table structure.

► The font-family is Ubuntu, sans-serif.

► The color scheme includes #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 along with standard white and black.

► Use a maximum of one class or id selector.

► Use one instance of the first-child or nth:child() pseudo classes.
*/

table {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
}
th {
    background-color: #7fb9c2;
    color: #e7ffed;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
}
thead {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: #628ca6;
}
tfoot {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 auto;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #628ca6;
    color: #e7ffed;
    margin: 0 auto;
}
