@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	section {
		grid-column: span 1;
	}
	nav ul{
		background-color: #002642;
		display: flex;
		height: 60px;
		justify-content: space-around;
		align-items: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		list-style: none;
		padding: 0;
		border:1px solid transparent;
		overflow: hidden;
		
	}
	#colortable {
		max-width: 760px;
		width: 100%;
	}
	#colorimg {
		max-width: 760px;
	} 
	#colorheading, #typeheading {
   
		width:16.67%;
	}
	#red {
		
		width:16.67%;
	
	}
	#ltblue {
		
		width:16.67%;
	}
	#dkblue {
		
		width:16.67%;
	}
	#yellow {
		
		width:16.67%;
	}
	#white {
		
		width:16.67%;
	}
	th {
		font-size: 17px;
		
	}
    td, #colortd {
		font-size: 15px;
	}
}