img {
    width: 100px;
    height: auto;
    display: flex;
    
}
header {
    text-align: center;
}
body {
    max-width: 760px;
    margin: 0 auto;
    background-color: #abd1b5;
    
}
h1 {
    font-size: 40px;
    font-family: 'Paytone One', sans-serif;
    color: #343f4b;
}
#sectionh1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #343f4b;
}
nav ul {
    background-color: #7b4c53;
    color: #343f4b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    padding: 15px;
}
#linknav {
    color: #79b791;
    text-decoration: none;
    
}
#colorimg {
    width: 500px;
}   
nav a:hover {
    color: #79b791;
    align-items: center;
}