img {
    width: 760px;
    height: auto;
    display: flex;
    
}
header {
    text-align: center;
    background-color: #fafaff;
}
body {
    max-width: 760px;
    margin: 0 auto;
    background-color: #fafaff;
    
}
h1 {
    font-size: 40px;
    font-family: 'Paytone One', sans-serif;
    color: #721121;
    padding: 15px;
}
h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    line-height: 5px;
    color:#002642;
}
#sectionh1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: #0d1321;
    padding: 15px;
    line-height: 30px;
}
nav ul{
    background-color: #002642;
    display: block;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    padding: 10px;
    line-height: 30px;
    border:1px solid transparent;
    overflow: hidden;
    
}

#linknav1, #linknavc, #linknavta, #linknavty {
    color: #e59500;
    text-decoration: none;
    border:1px solid transparent;
    border-radius:0 0 0 0;
}
#linknav1:hover, #linknavc:hover, #linknavta:hover, #linknavty:hover {   
    color: #721121;
    text-decoration: none;
    list-style-type: none;  
}
#colorimg {
    max-width: 760px;
}   

footer, #link1 {
    color: #e59500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #0d1321;
    padding: 15px;
}
table {
    max-width: 760px;
    
}
th, td {
    padding: 7px 10px 10px 10px;
}
th {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: #002642;
    color: #e59500;
}
td {
    color: #0d1321;
    background-color: #e59500;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#colortable {
    max-width: 760px;
    width: 100%;
}
#colorheading, #typeheading {
    width:16.67%;
}
#red {
    background-color: #721121;
    width:16.67%;

}
#ltblue {
    background-color: #002642;
    width:16.67%;
}
#dkblue {
    background-color: #0d1321;
    width:16.67%;
}
#yellow {
    background-color: #e59500;
    width:16.67%;
}
#white {
    background-color: #fafaff;
    width:16.67%;
}